<div class="hero-container">
  <!-- SLIDER 1 start -->
  <div class="hero-image hero-slider1">
    <!-- SLIDER 1 slide 1 -->
    <div class="hero-image-slides" style="background-image:url(assets/images/web-design.jpg);">
      <div class="hero-image-content">
        <h6><span class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0s">We
            Code</span></h6>
        <h2><span class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.5s">CUSTOM
            WEBSITES</span></h2>
        <a href="../start" class="btn btn-default os-animation" data-os-animation="fadeInUp" data-os-animation-delay="1s">START
          PROJECT</a>
      </div>
    </div>
    <!-- SLIDER 1 slide 2 -->
    <div class="hero-image-slides" style="background-image:url(assets/images/graphic-design.jpg);">
      <div class="hero-image-content">
        <h6><span class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0s">We
            Design</span></h6>
        <h2><span class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.5s">UNIQUE
            GRAPHICS</span></h2>
        <a href="../start" class="btn btn-default os-animation" data-os-animation="fadeInUp" data-os-animation-delay="1s">START
          PROJECT</a>
      </div>
    </div>
    <!-- SLIDER 1 slide 3 -->
    <div class="hero-image-slides" style="background-image:url(assets/images/main-banner3.jpg);">
      <div class="hero-image-content">
        <h6><span class="os-animation" data-os-animation="fadeInDown" data-os-animation-delay="0s">We
            Grow</span></h6>
        <h2><span class="os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0.5s">ONLINE
            BUSINESSES</span></h2>
        <a href="../start" class="btn btn-default os-animation" data-os-animation="fadeInUp" data-os-animation-delay="1s">START
          PROJECT</a>
      </div>
    </div>
  </div>
</div>
<!-- SLIDER 1 end -->
