<!-- SLIDER 2 start -->
<div class="hero-image-text os-animation" data-os-animation="fadeInRight" data-os-animation-delay="1.6s">
  <div class="hero-slider2">
    <!-- SLIDER 2 slide 1 -->
    <div>
      <h4 class="os-animation" data-os-animation="fadeInRight" data-os-animation-delay="1.7s">01. Web
        Development</h4>
      <p class="os-animation" data-os-animation="fadeInRight" data-os-animation-delay="1.8s">Receive
        responsive web designs which are compatible with all of today's mobile devices. Using the
        lastest technologies to impletment custom integrations, we'll build you a website unique to
        your needs.</p>
      <a href="../start" class="btn btn-default os-animation" data-os-animation="fadeInRight" data-os-animation-delay="2s">REQUEST
        A QUOTE</a>
    </div>
    <!-- SLIDER 2 slide 2 -->
    <div>
      <h4 class="os-animation" data-os-animation="fadeInRight" data-os-animation-delay="1.7s">02.
        Graphic Design</h4>
      <p class="os-animation" data-os-animation="fadeInRight" data-os-animation-delay="1.8s">We
        create stunning vector graphics for use in print media, branding, forums and online
        sources. Get graphic design work for logos, restaurant menus, web site modernization, and
        even screen prints on clothing.</p>
      <a href="../start" class="btn btn-default os-animation" data-os-animation="fadeInRight" data-os-animation-delay="2s">REQUEST
        A QUOTE</a>
    </div>
    <!-- SLIDER 2 slide 3 -->
    <div>
      <h4 class="os-animation" data-os-animation="fadeInRight" data-os-animation-delay="1.7s">03.
        Online Marketing</h4>
      <p class="os-animation" data-os-animation="fadeInRight" data-os-animation-delay="1.8s">Our team
        provides simple, honest, and affordable solutions that connect you with more customers. We
        aren’t afraid of the big data. We study our your users and find the perfect methods to
        track and convert.</p>
      <a href="../start" class="btn btn-default os-animation" data-os-animation="fadeInRight" data-os-animation-delay="2s">REQUEST
        A QUOTE</a>
    </div>
  </div>
</div>
