<div class="main-container-outer">
  <div class="container">
    <div class="top-bar-container">
      <div class="container">
        <div class="top-bar">
          <ul class="breadcrumb">
            <li><a href="../home">Home</a></li>
            <li><span>Portfolio</span></li>
          </ul>
        </div>
        <!-- Share start -->
        <div class="share-box">
          <ul class="share-list">
            <li><a href="" class="addthis_button_facebook"><span><i class="ion ion-social-facebook"></i></span></a></li>
            <li><a href="" class="addthis_button_twitter"><span><i class="ion ion-social-twitter"></i></span></a></li>
            <li><a href="" class="addthis_button_google_plusone_share"><span><i class="ion ion-social-googleplus"></i></span></a></li>
            <li><a href="" class="addthis_button_linkedin"><span><i class="ion ion-social-linkedin"></i></span></a></li>
          </ul>
          <a href="#" class="share-trigger"><i class="ion ion-share"></i> SHARE</a> </div>

        <!-- Share end -->
      </div>
    </div>
    <div class="main-container">
      <div class="inner-banner parallax" data-parallax-speed="5" style="background-image:url(../../images/erick-with-camera.jpg);">
        <h2>Portfolio</h2>
      </div>

      <!-- Content Holder Start -->
      <div class="content-holder">
        <h3 class="content-title">What We've Done</h3>
        <p class="large-para">Bring your business up to speed, aesthetically and technically. Nowadays, more and more people visit businesses online before deciding if they want a product or service. At that rate, having an outdated, stale web presence could be costing you business.</p>
        <p>Please have a look at our portfolio items to learn more about the types of work that we've have done in the past. We're pleased to have worked with these professionals and will offer the same level of dedication for your project as well. Clients are able to be proactively get involved in updating their own websites within the framework we setup just for them without any prior coding knowledge. We give you the tools you need to successfully keep your websites current and fresh!</p>
        <div class="portfolio-container">
          <ul class="project-category">
            <li><a href="#" data-filter="" class="active">All</a></li>
            <li><a href="#" data-filter="webdev">Web & Graphic</a></li>
            <li><a href="#" data-filter="video">Video Production</a></li>
          </ul>
          <div id="portofolio-container">
            <div id="masonry" class="grid project-gallery">
          

            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>
            <div data-filter="video" class="grid-item">
              <div class="box-item">
                <a href="https://www.youtube.com/watch?v=BxBd6Xe5o9I" target="_blank">
                  <img src="../../images/diib-commercial.png" alt="">
                </a>
              </div>
              <div class="project-heading">
                <h6>Diib Analytics</h6>
                <p>Onboarding Commercial</p>
              </div>
            </div>

          

            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>
            <div data-filter="webdev" class="grid-item">
              <div class="box-item">
                <a href="http://s611660485.onlinehome.us/ridethevote/" target="_blank">
                  <img src="../../images/ride-the-vote.png" alt="">
                </a>
              </div>
              <div class="project-heading">
                <h6>Ride The Vote</h6>
                <p>Underground News Website</p>
              </div>
            </div>

          

            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>
            <div data-filter="video" class="grid-item">
              <div class="box-item">
                <a href="https://vimeo.com/145045446/" target="_blank">
                  <img src="../../images/peacock-park-design.jpg" alt="">
                </a>
              </div>
              <div class="project-heading">
                <h6>Peacock Park Design</h6>
                <p>Reality Show Pilot</p>
              </div>
            </div>

          

            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>
            <div data-filter="webdev" class="grid-item">
              <div class="box-item">
                <a href="http://s611660485.onlinehome.us/moronijason/" target="_blank">
                  <img src="../../images/moroni-jason-website.png" alt="">
                </a>
              </div>
              <div class="project-heading">
                <h6>Moroni Jason</h6>
                <p>Tattoo Artist Website</p>
              </div>
            </div>

          

            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>
            <div data-filter="video" class="grid-item">
              <div class="box-item">
                <a href="https://www.youtube.com/watch?v=sQGB-X5FJy4" target="_blank">
                  <img src="../../images/2-friends-grooming.png" alt="">
                </a>
              </div>
              <div class="project-heading">
                <h6>II Friends Grooming</h6>
                <p>Dog Grooming Commercial</p>
              </div>
            </div>

          

            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>
            <div data-filter="webdev" class="grid-item">
              <div class="box-item">
                <a href="http://s611660485.onlinehome.us/alanwatts/" target="_blank">
                  <img src="../../images/alan-watts-online.png" alt="">
                </a>
              </div>
              <div class="project-heading">
                <h6>Alan Watts Online</h6>
                <p>Speaker/Author Website</p>
              </div>
            </div>

          

            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>
            <div data-filter="video" class="grid-item">
              <div class="box-item">
                <a href="https://www.youtube.com/watch?v=VqaFwr4JoGk" target="_blank">
                  <img src="../../images/home-decor-commercial.png" alt="">
                </a>
              </div>
              <div class="project-heading">
                <h6>Details Comforts</h6>
                <p>Home Decor Commercial</p>
              </div>
            </div>

          

            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>
            <div data-filter="webdev" class="grid-item">
              <div class="box-item">
                <a href="http://s611660485.onlinehome.us/secondchanceboards/" target="_blank">
                  <img src="../../images/second-chance-boards.png" alt="">
                </a>
              </div>
              <div class="project-heading">
                <h6>Second Chance Boards</h6>
                <p>Personal Business Website</p>
              </div>
            </div>

          

            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>
            <div data-filter="video" class="grid-item">
              <div class="box-item">
                <a href="https://www.youtube.com/watch?v=jkbNtwUq1ps" target="_blank">
                  <img src="../../images/la-feast-commercial.png" alt="">
                </a>
              </div>
              <div class="project-heading">
                <h6>La Feast</h6>
                <p>Restaurant Commercial</p>
              </div>
            </div>

          

            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>
            <div data-filter="webdev" class="grid-item">
              <div class="box-item">
                <a href="http://s611660485.onlinehome.us/perfectlanding/ui/" target="_blank">
                  <img src="../../images/perfect-landing-rentals.png" alt="">
                </a>
              </div>
              <div class="project-heading">
                <h6>Perfect Landing Rentals</h6>
                <p>Real Estate Website</p>
              </div>
            </div>

          

            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>
            <div data-filter="video" class="grid-item">
              <div class="box-item">
                <a href="https://www.youtube.com/watch?v=mcf34i-aFZg" target="_blank">
                  <img src="../../images/real-estate-commercial.png" alt="">
                </a>
              </div>
              <div class="project-heading">
                <h6>Salt Lake Lifestyle</h6>
                <p>Real Estate Commercial</p>
              </div>
            </div>

          

            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>
            <div data-filter="webdev" class="grid-item">
              <div class="box-item">
                <a href="http://s611660485.onlinehome.us/minnowmike/" target="_blank">
                  <img src="../../images/minnow-mike.png" alt="">
                </a>
              </div>
              <div class="project-heading">
                <h6>Minnow Mike</h6>
                <p>Product Website</p>
              </div>
            </div>

          

            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>
            <div data-filter="webdev" class="grid-item">
              <div class="box-item">
                <a href="http://s611660485.onlinehome.us/oahuhikingtours/" target="_blank">
                  <img src="../../images/hiking-website.png" alt="">
                </a>
              </div>
              <div class="project-heading">
                <h6>Oahu Hiking Tours</h6>
                <p>Tour Booking Website</p>
              </div>
            </div>

          

            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>
            <div data-filter="webdev" class="grid-item">
              <div class="box-item">
                <a href="http://s611660485.onlinehome.us/ashesbardole/" target="_blank">
                  <img src="../../images/tattoo-website.png" alt="">
                </a>
              </div>
              <div class="project-heading">
                <h6>Ashes Bardole</h6>
                <p>Tattoo Artist Website</p>
              </div>
            </div>

          

            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>
            <div data-filter="video" class="grid-item">
              <div class="box-item">
                <a href="https://www.youtube.com/watch?v=t_EESTOC3NY" target="_blank">
                  <img src="../../images/give-him-praise.png" alt="">
                </a>
              </div>
              <div class="project-heading">
                <h6>Give Him Praise</h6>
                <p>Jay Wayne Music Video</p>
              </div>
            </div>

          

            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>
            <div data-filter="webdev" class="grid-item">
              <div class="box-item">
                <a href="http://www.phonedaddies.com" target="_blank">
                  <img src="../../images/phone-daddies-website.png" alt="">
                </a>
              </div>
              <div class="project-heading">
                <h6>Phone Daddies</h6>
                <p>Phone Repair Site & Graphics</p>
              </div>
            </div>

          

            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>
            <div data-filter="video" class="grid-item">
              <div class="box-item">
                <a href="https://www.youtube.com/watch?v=LqRjZeZ72lk" target="_blank">
                  <img src="../../images/zefs-commercial.png" alt="">
                </a>
              </div>
              <div class="project-heading">
                <h6>Zef's Coney Island</h6>
                <p>Restaurant Commercial</p>
              </div>
            </div>

          

            <div class="grid-sizer"></div>
            <div class="gutter-sizer"></div>
            <div data-filter="video" class="grid-item">
              <div class="box-item">
                <a href="https://www.youtube.com/watch?v=XS5izycu9xU" target="_blank">
                  <img src="../../images/tattoo-commercial.png" alt="">
                </a>
              </div>
              <div class="project-heading">
                <h6>Cobra Kai</h6>
                <p>Tattoo Artist Commercial</p>
              </div>
            </div>

          </div></div>
        </div>
      </div>
      <!-- Content Holder End -->
      <div class="quote-box">
        <h6>Want to discuss a new project ?</h6>
        <a href="../start" class="btn btn-default">LET'S TALK</a> </div>
    </div>
  </div>
</div>