<div class="main-container-outer">
  <div class="container">
    <div class="top-bar-container">
      <div class="container">
        <div class="top-bar">
          <ul class="breadcrumb">
            <li><a href="../home">Home</a></li>
            <li><span>Solutions</span></li>
          </ul>
        </div>
        <!-- Share start -->
        <div class="share-box">
          <ul class="share-list">
            <li><a href="" class="addthis_button_twitter"><span><i class="ion ion-social-twitter"></i></span></a></li>=
            <li><a href="" class="addthis_button_linkedin"><span><i class="ion ion-social-linkedin"></i></span></a></li>
          </ul>
          <a href="#" class="share-trigger"><i class="ion ion-share"></i> SHARE</a>
        </div>

        <!-- Share end -->
      </div>
    </div>
    <div class="main-container">
      <div class="inner-banner parallax" data-parallax-speed="5" style="background-image:url(../../images/business-meeting.jpeg);">
        <h2>Solutions</h2>
      </div>

      <!-- Content Holder Start -->
      <div class="content-holder">
        <h3 class="content-title">What We Do</h3>
        <p class="large-para">Onflo offers the best in brand strategy, identity development, advertising expertise and
          more! We can help you make sense of it all and deliver the best options for your business.</p>
        <p>The role of online consultants is constantly evolving; that is why we are doing everything to move with you,
          your goals and audience. Using our marketing tools, our clients can integrate all their marketing goals into
          one strategic channel where we can help you manage your online presence. Not only does our dashboard help
          teach you but we always be there offer solutions for all your online needs!</p>
        <!-- service list start -->
        <ul class="service-list">
          <li> <a href="../start">
              <div class="service-box">
                <div class="service-num">01.</div>
                <div class="service-icon"><i class="ion ion-images"></i></div>
                <h6>Graphic Design</h6>
                <p>Logo, Brochure, Menu, Business Cards</p>
              </div>
            </a> </li>
          <li> <a href="../start">
              <div class="service-box">
                <div class="service-num">02.</div>
                <div class="service-icon"><i class="ion ion-android-settings"></i></div>
                <h6>Web Development</h6>
                <p>HTML5, CSS3, JavaScript, PHP, Node.JS</p>
              </div>
            </a> </li>
          <li> <a href="../start">
              <div class="service-box">
                <div class="service-num">03.</div>
                <div class="service-icon"><i class="ion ion-social-apple"></i></div>
                <h6>Mobile Apps</h6>
                <p>Android, iOS, React Native</p>
              </div>
            </a> </li>
          <li> <a href="../start">
              <div class="service-box">
                <div class="service-num">04.</div>
                <div class="service-icon"><i class="ion ion-android-cart"></i></div>
                <h6>E-Commerce</h6>
                <p>PayPal, Stripe, WooCommerce, Shopify</p>
              </div>
            </a> </li>
          <li> <a href="../start">
              <div class="service-box">
                <div class="service-num">05.</div>
                <div class="service-icon"><i class="ion ion-arrow-graph-up-right"></i></div>
                <h6>SEO</h6>
                <p>On-Page, Link Building, SEO Content Writing</p>
              </div>
            </a> </li>
          <li> <a href="../start">
              <div class="service-box">
                <div class="service-num">06.</div>
                <div class="service-icon"><i class="ion ion-videocamera"></i></div>
                <h6>Video</h6>
                <p>Commercial, Music, Informational</p>
              </div>
            </a> </li>
          <li> <a href="../start">
              <div class="service-box">
                <div class="service-num">07.</div>
                <div class="service-icon"><i class="ion ion-android-camera"></i></div>
                <h6>Photography</h6>
                <p>Product, Service, Event, Stock</p>
              </div>
            </a> </li>
        </ul>
        <!-- service list end -->

        <div class="stat-container">
          <h4>What We've Done</h4>
          <p>Over the past decade working in the marketing and digital art industry we've helped dozens of clients and
            completed hundres of projects. We've been fortunate enough to help many businesses and international
            clients to produce professional marketing materials and webpages. We're consistently expanding my skills so
            that I can provide the best value to our clients.</p>
          <ul class="stat-list">
            <li>
              <h3><span class="timer" data-to="245" data-speed="2000">245</span></h3>
              <h6>Completed Projects</h6>
            </li>
            <li>
              <h3><span class="timer" data-to="89" data-speed="1200">89</span></h3>
              <h6>Satisfied Clients</h6>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Content Holder End -->
    <div class="quote-box">
      <h6>Want to discuss a new project ?</h6>
      <a href="../start" class="btn btn-default">LET'S TALK</a>
    </div>
  </div>
</div>
